<!-- Main jumbotron for a primary marketing message or call to action -->
<app-jumbotron title="My Cart" description="Your current cart contents:"></app-jumbotron>

<div class="container">
  <div class="alert alert-info" role="alert" *ngIf="cartContents?.length == 0">Your cart is empty</div>
  <!-- Example row of columns -->
  <div class="row" >

    <app-license-plate *ngFor="let plate of cartContents" [plate]="plate"
                        buttonText="Remove from cart &times;" (buttonClick)="removeFromCart(plate)"
                       class="col-md-4" style="margin-top: 40px">

    </app-license-plate>

  </div>

  <hr>

</div> <!-- /container -->
