<div>
  <b>Enter your name:</b>
  <br>&nbsp;<br>
  <div>
    <label>Name : </label>
    <input type="text" [(ngModel)]="person.name" />
  </div>
  <div>
    <label>First name : </label>
    <input type="text" [(ngModel)]="person.firstName" />
  </div>
  <br>
  <div>
    <input type="checkbox" [(ngModel)]="accepted" />
    <span>I,  {{person.firstName  + " " + person.name}}, accept the terms and conditions to use this app.</span>
  </div>
  <br>
  <button [hidden]="! accepted">Create account</button>
</div>
