<div class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!--<app-jumbotron title="Welcome to our store" description="Browse our collection of license plates below"></app-jumbotron> -->
      <!--<app-jumbotron title="We have 20,000 plates" description="From all 50 US states, all years available"></app-jumbotron> -->
      <!--<app-jumbotron title="Browse our collection" description="Use the search box to find the plate you're looking for"></app-jumbotron> -->
    </div>
  </div>
  <a class="carousel-control-prev" role="button">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" role="button">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
