<div style="text-align:center">
  <h1>
    Demos
  </h1>
</div>
<ul>
  <li>
    <h3><a rel="noopener" routerLink="bindings">Bindings example</a></h3>
  </li>
  <li>
    <h3><a rel="noopener" routerLink="ngmodel">ngModel example</a></h3>
  </li>
  <li>
    <h3><a rel="noopener" routerLink="ngif">*ngIf example</a></h3>
  </li>
  <li>
    <h3><a rel="noopener" routerLink="list-posts">Observable example (social media posts)</a></h3>
  </li>
  <li>
    <h3><a rel="noopener" routerLink="2-way-data-binding">Custom two-way data binding</a></h3>
  </li>
  <li>
    <h3><a rel="noopener" routerLink="template-driven-form">Template driven form</a> / <a rel="noopener" routerLink="reactive-form">Reactive form</a></h3>
  </li>
</ul>
