<div style="text-align:center">
  <h1>
    Demos
  </h1>
</div>
<ul>
  <li>
    <h3>Bindings: <a rel="noopener" routerLink="bindings">Bindings example</a> -
      <a rel="noopener" routerLink="ngmodel">ngModel example</a> -
      <a rel="noopener" routerLink="2-way-data-binding">Custom two-way data binding</a>
    </h3>
  </li>
  <li>
    <h3>Directive examples: <a rel="noopener" routerLink="ngfor">*ngFor</a> -
      <a rel="noopener" routerLink="ngif">*ngIf</a> -
      <a rel="noopener" routerLink="ngclass">ngClass</a> -
      <a rel="noopener" routerLink="ngswitch">*ngSwitch</a>
    </h3>
  </li>
  <li>
    <h3>RxJs:
      <a rel="noopener" routerLink="observable-example">Observable</a> -
      <a rel="noopener" routerLink="list-posts">Social media posts</a> -
      <a rel="noopener" routerLink="subject-example">Subject</a> -
      <a rel="noopener" routerLink="promise-example">Promise</a>-
      <a rel="noopener" routerLink="state-filter">State filter</a>
    </h3>
  </li>
  <li>
    <h3>Forms: <a rel="noopener" routerLink="template-driven-form">Template driven</a> - <a rel="noopener" routerLink="reactive-form">Reactive</a></h3>
  </li>
  <li>
    <h3>UI: <a rel="noopener" routerLink="spinner">Spinner component</a></h3>
  </li>
</ul>
