<app-navigation></app-navigation>

<main role="main">
  <app-jumbotron title="Welcome to our store" description="Browse our collection of license plates"></app-jumbotron>

  <div class="container">
    <div class="row" >
      <app-license-plate [plate]="plate" *ngFor="let plate of licensePlates"
                         buttonText="Add to cart" class="col-md-4" appHighlight>
      </app-license-plate>
    </div>
  </div>
</main>

<footer class="container">
  <p>&copy; License Plate Store 2018</p>
</footer>
