<div class="container">
  <h2>Lab C1: Hello World</h2>
  <div class="card">
    <div class="card-body">
      <ol>
        <li>Open your IDE and use <code class="language-shell">C:\sources\ng2-training-master</code> as your main project location</li>
        <li>Open the file <code class="language-shell">src/app/hello/hello.component.ts</code> in your IDE</li>
        <li>Add a class property  <code class="language-typescript">firstName  = 'John'</code>
          to the <code class="language-typescript">HelloComponent</code> class.
        </li>
        <li>In the <code class="language-typescript">@Component</code> decorator, edit the template property to add a new expression
          <code>firstName</code> in the HTML template.</li>
        <li>Your file should look like this:
<pre class="line-numbers"><code class="language-typescript">import &#123; Component } from '@angular/core';

@Component(&#123;
  selector: 'app-hello',
  template: `
    &#60;div>
      &#60;h2>Hello {{ '{{'}}firstName}} {{ '{{'}}name}}&#60;/h2>
    &#60;/div>
  `
})
export class HelloComponent &#123;

  name: string;
  firstName  = 'John';

  constructor() &#123;
    this.name = 'Angular';
  }
}
</code></pre>
        </li>
      </ol>
    </div>
  </div>
</div>
