<div style="text-align:center">
  <h1>
    Labs
  </h1>
</div>
<ul>
  <li>
    <h3><a rel="noopener" routerLink="A0">A0 - Dev environment set-up</a></h3>
  </li>
</ul>
<div>
  <p>Our labs are designed to make you practice, which is the best way to learn a new technology.</p>

  <p>Labs are also a great opportunity to ask questions so don’t hesitate to show your code to the instructor.</p>

  <p>The solution for each lab is located in the  <code>solutions</code> folder of the <code>ng2-training</code> project.
    Don’t hesitate to take a look if you’re stuck and need a hint.</p>
</div>
