<div>
  <span>Form state: </span>
  <span class="badge badge-pill badge-info" *ngIf="registerForm.touched">Touched</span>
  <span class="badge badge-pill badge-warning" *ngIf="registerForm.untouched">Untouched</span>
  <span class="badge badge-pill badge-success" *ngIf="registerForm.valid">Valid</span>
  <span class="badge badge-pill badge-danger" *ngIf="registerForm.invalid">Invalid</span>
  <span class="badge badge-pill badge-primary" *ngIf="registerForm.pristine">Pristine</span>
  <span class="badge badge-pill badge-dark" *ngIf="registerForm.dirty">Dirty</span>
</div>
<form [formGroup]="registerForm" (ngSubmit)="logForm()">
  <label>Firstname:</label>
  <input type="text" name="firstname" formControlName="firstname" >
  <br/>
  <label>Lastname:</label>
  <input type="text" name="lastname" formControlName="lastname">
  <br/>
  <label>Street:</label>
  <input type="text" name="street" formControlName="street">
  <br/>
  <label>Zip:</label>
  <input type="text" name="zip" formControlName="zip">
  <div class="alert" *ngIf=" !registerForm.controls.zip.pristine && registerForm.controls.zip.errors">
    Zipcode must have 5 digits
  </div>
  <br/>
  <label>City:</label>
  <input type="text" name="city" formControlName="city">
  <br/>
  <label>Credit card:</label>
  <input type="password" name="cc" formControlName="cc">
  <div class="alert" *ngIf="registerForm.controls.cc.errors">
    {{registerForm.controls.cc.errors['creditCard'] }}
  </div>
  <br/>
  <button type="submit">Submit</button>
</form>
