<app-navigation></app-navigation>

<main role="main">
  <app-jumbotron title="Welcome to our store" description="Browse our collection of license plates"></app-jumbotron>

  <div class="container">
    <div class="row" >
      <app-license-plate *ngFor="let myPlate of licensePlates; even as isEven" [plate]="myPlate" buttonText="Add to cart"
                         class="col-md-4" [style.backgroundColor]="isEven ? '#F5F5F5' : ''">

      </app-license-plate>
    </div>
  </div>
</main>

<footer class="container">
  <p>&copy; License Plate Store 2018</p>
</footer>
