<form #form="ngForm" (ngSubmit)="logForm(form.value)" ngNativeValidate >
  <label>Firstname:</label>
  <input type="text" name="firstname" ngModel required>
  <br/>
  <label>Lastname:</label>
  <input type="text" name="lastname" ngModel>
  <br/>
  <label>Street:</label>
  <input type="text" name="street" ngModel>
  <br/>
  <label>Zip:</label>
  <input type="text" name="zip" ngModel required  pattern="[0-9]{5}" #zip="ngModel" >
  <div class="alert" [hidden]="zip.valid || zip.pristine">
    Zipcode must have 5 digits
  </div>
  <br/>
  <label>City:</label>
  <input type="text" name="city" ngModel>
  <br/>
  <button type="submit">Submit</button>
</form>
