<h2>Lab A0: Dev environment set-up</h2>
<ul>
  <li>Go to your labs folder:  <code>C:\sources\ng2-training-master</code></li>
  <li>Open a terminal in that folder and run <code>ng serve</code>. This command compiles the code and start a local server on your machine</li>
  <li>Open <a href="http://localhost:4200" target="_blank">http://localhost:4200</a> in your browser</li>
</ul>
<div>
  We use Angular CLI (<a href="https://cli.angular.io" target="_blank">https://cli.angular.io</a>) to build & serve our code

</div>
